realfast/xsd/AntFlaggerMessage.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="flags">
      <xs:complexType>
            <xs:sequence>
	            <xs:element name="flag" maxOccurs="unbounded" minOccurs="0">
		              <xs:complexType>
			                  <xs:simpleContent>
					                <xs:extension base="xs:string">
							                <xs:attribute type="xs:float" name="startTime" use="optional"/>
									                <xs:attribute type="xs:float" name="endTime" use="optional"/>
											                <xs:attribute type="xs:string" name="reason" use="optional"/>
													                <xs:attribute type="xs:string" name="antennas" use="optional"/>
															              </xs:extension>
																                  </xs:simpleContent>
																		            </xs:complexType>
																			            </xs:element>
																				          </xs:sequence>
																					      </xs:complexType>
																					        </xs:element>
																						</xs:schema>